
$font-stack-logo: 'Concert One', cursive;
$font-stack-body: 'Pragati Narrow', sans-serif;

$color-page-bg: tomato;
$color-content-bg: white;
$color-accent: lightblue;
$color-content-inactive: #aaa;


@mixin border {
    border: 2px solid $color-accent;
    border-radius: .4em;
}

@mixin formButton {
    padding: .8em;
    background-color: $color-accent;
    border: none;
    border-radius: .4em;
    font-family: $font-stack-logo;
    font-size: 1em;
}

html {
    min-height: 100%;
    position: relative;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100vw;
    font-family: $font-stack-body;
}

.App {
  text-align: center;
  background-color: $color-page-bg;
  min-height: 100vh;
  overflow-x: hidden;

    h1 {
        margin: 0;
        padding: 1em 1em .3em;
        font-family: $font-stack-logo;
    }

    select {
        padding: 0.5em;
        margin: 1em;
    }
}

::placeholder {
    opacity: 0.4;
}

/**
 * ----------------------------------------
 * TextInput
 * ----------------------------------------
 */

#createTodo {
    background-color: $color-content-bg;
    width: 90%;
    margin: 0 5%;
    padding-bottom: 2em;
    @include border;

    button {
        @include formButton;
    }

    h2 {
        font-size: 1.8em;
        margin-bottom: 0;
    }

    input {
        @include border;
        border-radius: 0;
        padding: .4em;
        text-align: right;
    }

    .deleteTag {
        border-radius: 50%;
        padding: 0.5em;
    }
}

#toggleFormDisplay {
    background-color: $color-content-bg;
    border: none;
    margin: -5px 0 0 0.5em;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 1em;
}

#todoText {
    width: 80%;
    text-align: center;
    margin: 0 .5em .5em .5em;
    font-size: 1.4em;
    font-weight: bold;
}

#inputDeadline {
    margin-right: 5em;
}

#tagInput {
    margin-right: 3em;
    height: 1.5em;
    margin: auto 3em auto 0;
    font-weight: bold;
}

.tempTag {
    padding: 0 1em 0 0.1em;
    margin: 0.3em;
    background-color: $color-accent;
    border-radius: 1em;
}

/**
 * ----------------------------------------
 * Filters
 * ----------------------------------------
 */ 

#filterDropdown {
    @include border;
}

/**
 * ----------------------------------------
 * TodoItem
 * ----------------------------------------
 */

.todoItemText {
    font-size: 1.2em;
    word-wrap: normal;
    margin: auto;
}

#inputTagList {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
}

#listContainer {
    list-style: none;
    padding: .5em 0;
    margin: 0;
}

.todoItem {
    background-color: $color-content-bg;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1em;
    border-top: 6px solid $color-accent;
    border-radius: .4em;

    span {
        flex-grow: 2;
    }
}

.todoDetails {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: .2em;
}

.todoSVGs {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 0.2em;
}

.dragTodo {
    border: none;
    margin: .5em 0 .5em .5em;
    background-color: $color-content-bg;

    &:hover {
        cursor: move;
    }
}

.icon {
    border: none;
    background-color: $color-content-bg;
    width: 28px;
    height: 24px;
    margin: .1em;
    justify-content: center;
}

.checkbox {
    color: $color-content-inactive;
    fill: $color-content-inactive;
}

.dueDate {
    color: $color-content-inactive;
    margin: 0;
}

/**
 * ----------------------------------------
 * EditModal
 * ----------------------------------------
 */ 

 #modalBG {
     background-color: rgba(0,0,0,0.4);
     height: 100%;
     width: 100%;
     position: absolute;
     top: 0;
     bottom: 0;
     left: 0;
     right: 0;
     overflow: hidden;
     z-index: 2;
 }

#editModal {
    position: absolute;
    top: 15%;
    left: 5%;
    width: 90%;
    padding: 0;
    max-height: 60%;
    background-color: $color-content-bg;
    @include border;
    z-index: 3;
    
    button {
        @include formButton;
        font-size: 1em;
    }

    input {
        @include border;
        border-radius: 0;
        padding: .3em;
    }

    svg {
        width: 1.4em;
        height: 1.4em;
    } 

    .deleteTag {
        border-radius: 50%;
        padding: 0.5em;
    }
}

#editTodoText {
    font-size: 1.5em;
    font-weight: bold;
    width: 80%;
}

/**
 * ----------------------------------------
 * desktop styles
 * ----------------------------------------
 */
@media (min-width: 1000px) {

    .App {
        font-size: 1.6em;
    }

    #createTodo {
        max-width: 60%;
        margin: auto;

        button {
            font-size: 0.8em;
        }
    }

    .todoItem {
        width: 50%;
        margin: 1em auto;
    }

    #editModal {
        width: 50%;
        left: 25%;
    }

    .tempTag {
        font-size: 0.7em;
        padding: 0 0.7em 0 0;
    }
}



/**
 * ----------------------------------------
 * animations
 * ----------------------------------------
 */
@keyframes scale-in-center {
    0% {
        transform: scale(0);
        opacity: 1;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}
@keyframes slide-out-right {
    0% {
        transform: translateX(0);
        opacity: 1;
    }
    100% {
        transform: translateX(2000px);
        opacity: 1;
    }
}
@keyframes scale-out-center {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    100% {
        transform: scale(0);
        opacity: 1;
    }
}
// @keyframes fill-checkbox {
//     0% {
//         fill: $color-content-inactive;
//     }
//     100% {
//         fill:green;
//     }
// }
// @keyframes empty-checkbox {
//     0% {
//         fill: green;
//     }
//     100% {
//         fill: $color-content-inactive;
//     }
// }
@keyframes rotate-up {
    0% {
              transform: rotate(0);
    }
    100% {
              transform: rotate(180deg);
    }
}
@keyframes rotate-down {
    0% {
              transform: rotate(180deg);
    }
    100% {
              transform: rotate(0);
    }
}
  
.scale-in-center {
    animation: scale-in-center 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
.scale-out-center {
	animation: scale-out-center 0.2s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}
.slide-out-right {
	animation: slide-out-right 0.4s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}
.fillCheckbox {
    animation: fill-checkbox 0.2s linear both;
}
.emptyCheckbox {
    animation: empty-checkbox 0.2s linear both;
}
.rotate-up {
    animation: rotate-up 0.2s linear both;
}
.rotate-down {
    animation: rotate-up 0.2s linear both;
}